@require './_vars.styl'

body, html
    margin 0
    padding 0
    position relative
    height 100%
    color #444
    background $bgDarkLight
    @media (prefers-color-scheme dark)
        background $bgDarkDark
        color #aaa

body
    display flex
    flex-flow column nowrap
footer, header
    flex 0 0 auto
footer
    background rgba($accent, 0.125)
header
    background $accent
    color dark($accent)? white : black
    h1, h2, h3, h4, h5, h6, a
        color @color
main
    flex 1 0 auto

section, nav, aside, article, header, footer, main
    padding $innerSpacing
    margin 0 0 $outerSpacing
    box-sizing border-box
    overflow auto
    &:last-child
        margin-bottom 0

nav, section
    padding $innerSpacing 0

article
    max-width 60rem
    margin  0 auto $outerSpacing
    background $bgLightLight
    border-radius $borderRadius
    @media (prefers-color-scheme dark)
        background $bgLightDark

aside
    float right
    max-width 20rem
    box-sizing border-box
    clear right
    padding $innerSpacing
    margin 0 0 $outerSpacing $outerSpacing
    background rgba($accent, 0.125)
    border-radius $borderRadius
    @media (max-width 50rem)
        float none
        max-width initial
        margin 0 0 $outerSpacing
section, article
    clear both

nav
    aside &
        padding 0
        margin 0 0 $outerSpacing
    ul
        padding 0
        display flex
        flex-flow row wrap
        aside &
            flex-flow column nowrap
            padding 0
    li
        padding 0
        margin 0
        list-style none
        margin 0 $innerSpacing 0 0
        aside & + li
            margin $innerSpacing 0 0

figure
    margin $innerSpacing 0
    text-align center
    overflow auto

hr
    border 0
    margin 0
    display block
    &::before
        content '* * *'
        display block
        line-height ($outerSpacing*2)
        text-align center
        color $accent
        font-size 2rem