@require './_vars.styl'

body, html
    margin 0
    padding 0
    position relative
    height 100%
    color $textColorLightUI
    color var(--text-color)
    --bg-dark $bgDarkLightUI
    --bg-light $bgLightLightUI
    background $bgDarkLightUI
    background var(--bg-dark)
    @media (prefers-color-scheme dark)
        --bg-dark var(--bg-dark-dark)
        --bg-light var(--bg-light-dark)
        --text-color var(--text-color-dark)
        background $bgDarkDarkUI
        background var(--bg-dark)
        color $textColorDarkUI
        color var(--text-color)

body
    display flex
    flex-flow column nowrap
footer, header
    flex 0 0 auto
footer
    background rgba($accent, 0.125)
    background var(--accent25)
header
    background $accent
    background var(--accent)
    color dark($accent)? white : black
    color var(--contrast)
    h1, h2, h3, h4, h5, h6, a
        color @color
main
    flex 1 0 auto

section, nav, aside, article, header, footer, main
    padding $innerSpacing
    margin 0 0 $outerSpacing
    box-sizing border-box
    overflow auto
    &:last-child
        margin-bottom 0

nav, section
    padding $innerSpacing 0

article
    max-width 60rem
    margin  0 auto $outerSpacing
    background $bgLightLightUI
    background var(--bg-light)
    {border-rad}
    @media (prefers-color-scheme dark)
        background $bgLightDarkUI
        background var(--bg-light)

aside
    float right
    max-width 20rem
    box-sizing border-box
    clear right
    padding $innerSpacing
    margin 0 0 $outerSpacing $outerSpacing
    background rgba($accent, 0.125)
    background var(--accent25)
    {border-rad}
    @media (max-width 50rem)
        float none
        max-width initial
        margin 0 0 $outerSpacing
section, article
    clear both

nav
    aside &
        padding 0
        margin 0 0 $outerSpacing
    ul
        padding 0
        display flex
        flex-flow row wrap
        aside &
            flex-flow column nowrap
            padding 0
    li
        padding 0
        margin 0
        list-style none
        margin 0 $innerSpacing 0 0
        aside & + li
            margin $innerSpacing 0 0

figure
    margin $innerSpacing 0
    text-align center
    overflow auto

hr
    border 0
    margin 0
    display block
    &::before
        content '* * *'
        display block
        line-height ($outerSpacing*2)
        text-align center
        color $accent
        color var(--accent)
        font-size 2rem