@require './_vars.styl'

body
    scrollbar-color $accent white
    scrollbar-color var(--accent) white
    @media (prefers-color-scheme dark)
        scrollbar-color $accent black
        scrollbar-color var(--accent) black

/* Native smooth scroll */
html
  scroll-behavior smooth
@media (prefers-reduced-motion: reduce)
    html
        scroll-behavior auto

::selection
    background $accent
    background var(--accent)
    color dark($accent)? white : black
    color var(--contrast)