@require './_vars.styl'

body
    line-height 1.5
    font-family $fontFamily, system

h1, h2, h3, h4, h5, h6
    margin $outerSpacing 0 $innerSpacing
    &:first-child, aside:first-child + &
        margin-top 0
h1
    line-height 3rem
h2
    line-height 2.5rem
h3
    line-height 2rem
h4, h5, h6
    line-height 1.5rem
p, blockquote, ul, ol
    margin 0 0 $innerSpacing
    padding 0
ul, ol
    padding-inline-start $outerSpacing
    aside &
        padding-inline-start $innerSpacing
        @media (max-width 50rem)
            padding-inline-start $outerSpacing
li
    margin 0 0 ($innerSpacing / 2)
h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li
    &:last-child
        margin-bottom 0

strong, a, h1, h2, h3
    color $accent
    color var(--accent)
em
    background-color rgba($accent, 0.25)
    background-color var(--accent25)
    padding 0.125em
    margin 0 -0.125em

blockquote
    font-size 1.25rem
    line-height 2rem
    font-style italic
    padding $innerSpacing 0 $innerSpacing ($outerSpacing - $borderWidth)
    padding $innerSpacing 0 $innerSpacing "calc(%s - var(--border-width))" % $outerSpacing
    border-inline-start $borderWidth solid $accent
    border-inline-start var(--border-width) solid var(--accent)
    cite
        display block
        text-align end
        font-size 1rem
        line-height 1.5rem

pre
    {borders}
    padding ($innerSpacing - $borderWidth) 0
    padding "calc(%s - var(--border-width))" % $innerSpacing 0
    line-height 1.5rem
    overflow auto
    code
        display block
        width max-content // so that we have a nice padding at the end of a line
        padding 0 "calc(%s - var(--border-width))" % $outerSpacing